#quote-box {
  padding: 2rem;
  width: 700px;
  height: 250px;
  background-color: #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#quote-buttons {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.tweet-quote-button button {
  width: 5rem;
  height: 3rem;
  padding: 1rem;
  cursor: pointer;
  background-color: #43aced; /* Set background color */
  border: none; /* Remove border */
  color: white; /* Set text color */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Set display property */
  font-size: 16px; /* Set font size */
  border-radius: 4px; /* Add rounded corners */
  box-shadow: 0 2px 4px rgba(91, 52, 246, 0.2); /* Add shadow */
}

#new-quote {
  width: 7rem;
  height: 3rem;
}

.qoute-text {
  min-height: 200px !important;
  max-height: 200px !important;
  width: 100%;
}

#new-quote {
  cursor: pointer;
  background-color: #454545; /* Set background color */
  border: none; /* Remove border */
  color: white; /* Set text color */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Set display property */
  font-size: 16px; /* Set font size */
  border-radius: 4px; /* Add rounded corners */
  box-shadow: 0 2px 4px rgba(91, 52, 246, 0.2); /* Add shadow */
}

@media (max-width: 768px) {
  #quote-box {
    width: 80%;
    height: 80%;
  }
  .qoute-text{
    min-height: 500px !important;
    max-height: 500px !important;
  }
}
